
// Search Component
option{
    @media (max-width: 769px){
       font-size: 10px
        }
       
}

.input-group-text{
    @media (max-width: 769px){
        font-size: 10px
         }
}


// input[type='search']{
//     @media (max-width: 769px){
//         width:100px
//       }    
// }


// card component
.card {

@media (max-width: 544px){
    height: 600px;
    width: 140px;
    display: flex;
    }
}
//showimage Component

//Cart styles

.cart-cadge, .cart-badge:hover{    
border-radius:10px;
padding:2px;
font-size: 10px;
background: #e73c7e;
}


.icon{
    
font-size: 20px; //tam;o del logo
      
}

